@import "./part1.scss";
@import "./fonts.scss";

:root {
    font-size: 16px;
    line-height: 1.2;
}

$primary-color: blue;
$text-main: 1rem;
$text-sub: 0.8rem;

body {
    font-family: 'Butler', 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: $primary-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; ;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
    position: relative;
}

.background-promo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}

.promo-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    z-index: 1;
    font-size: 5.5rem;
    padding: 1.5em 0.8em;
    background-color: $primary-color;
}

.page-title {
    font-family: 'Butler', 'Times New Roman', Times, serif ;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    white-space: nowrap;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.22em;
    font-weight: 700;
}

.sub-title {
    position: absolute;
    left: 0%;
    right: 0%;
}

@mixin borders {
    border-color: red;
    border-style: dashed;
    border-width: 2px;
}

.biography-img-container {
    float: left;
    width: 50%;
    height: 100%;
    text-align: right;
    @include borders;
    img {
        height: 93.5%;
        max-height: 840px;
        position: relative;
        right: 5%;
        top: 50%;
        transform: translateY(-53.6%);
    }
}

.main-block {
    color: black;
    .main-block > .sub-block {

    }
}

.main-block {
    color: black;
}

.main-block > .sub-block {

}

.biography{
    position: absolute;
    rotate: 270deg;
    bottom: 11%;
    right: 2.6%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;

}
.biography-content {
    float: right;
    width: 50%;
    height: 100%;
}
